/* add your CSS here */
img{
	width:340px;
}
p{
	font-style: italic;
}
ul{
	list-style-type: none;
}
span{
	font-weight: bold;
}
h3, p, img, ul{
	padding:10px;
	margin:0;
}
h3{
	margin:0;
	padding-top: 20px;
}
div.card{
	border: solid 1px gray;
	width: 360px;
	box-shadow: 5px 5px 5px #777;
}
div.content{
	width: 340px;
	border: solid 1px gray;
	margin:0 auto 10px auto;
}
